{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "react-docgen",
    "react-hot-loader/babel"
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform",
          {
            "preprocessCss": "./webpack/loaders/css-modules-transform-loader.js",
            "generateScopedName": "[local]___[hash:base64:5]",
            "extensions": [".css", ".scss"]
          }
        ]
      ]
    }
  }
}

