:global {
  html,
  body,
  .root {
    height: auto;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    overflow: auto;
    margin: 0;
    padding: 0;
  }

  menu,
  ul {
    padding: 0;
  }
}
